<div>
  <h1 class="font-bold text-4xl pb-8">Introduction</h1>

  <section id="essay">
    <p>I've wanted to learn WebGL for quite some time.</p>
    <p>I was inspired by Evan Wallace's <%= link_to 'WebGL Water simulation', 'https://madebyevan.com/webgl-water/', target: '_blank' %>.</p>
    <p>I love watching Corridor Crew, and <%= link_to 'they recently made a video on caustics', 'https://www.youtube.com/watch?v=7l6QOcgWXfI' %>, and how it is the hardest visual effect to make.</p>
    <p>Focus on light, optics.</p>
    <p>And the end goal is to make a beautiful, real-time, interactive stained glass simulation.</p>
  </section>
</div>
